---
import About from "../components/About.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="\Logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>portfolio</title>
	</head>
	<body class="bg-stone-100 flex items-start justify-center h-screen"> 
		<div class="bg-stone-50 min-h-full">
			<About/>
			<p> bueeenas </p>
		</div>
	</body>
</html>