---
import Layout from '../layouts/Layout.astro';
import CardsContainer from "../components/cards-container.astro";
import AboutMe from "../components/about-me.astro";
import ContactMe from '../components/contact-me.astro';
---

<Layout title="Portfolio">
<main class="overflow-y-auto w-screen">
  <div class="rounded-lg bg-zinc-900 flex-1 mx-auto overflow-y-auto">
    <div class="bg-gray-600 bg-gradient-to-t from-gray-700 h-80 px-6 pb-10">
      <div class="pt-40">
        <span class="text-lg sm:text-xl">Software Developer</span>
        <h1 class="text-6xl sm:text-7xl">Nombre misterioso</h1>
      </div>
    </div>
    <CardsContainer/>
    <div class="text-white px-6 xl:pr-0 xl:flex mt-16 space-x-reverse">
      <AboutMe/>
      <ContactMe/>
    </div>
  </div>
</main>
</Layout>