---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Projects">
  <main class="overflow-y-auto w-screen">
    <div class="rounded-lg bg-zinc-900 flex-1 mx-auto overflow-y-auto h-screen">
    </div>
  </main>
</Layout>