<section class="flex flex-col sm:flex-row space-x-0 sm:space-x-4 p-4">
    <!-- Contenedor de la imagen circular -->
    <article class="w-44 h-44 rounded-full overflow-hidden mx-auto sm:mx-0 mb-4 sm:mb-0">
        <!-- Div con imagen de fondo -->
        <div class="w-full h-full bg-cover bg-center"
             style="background-image: url('/Sin título.webp'); background-position: 40% 30%; background-size: 150%;">
        </div>
    </article>
    <!-- Contenedor del texto -->
    <article class="flex-1 text-center sm:text-left">
        <h1 class="text-xl font-bold">Duarte Ezequiel</h1>
        <p class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio mollitia ullam cumque perferendis tempora minus repellat quod saepe tempore nulla nemo numquam non ipsa totam iusto, eius, explicabo, ex nesciunt. Totam nemo quos recusandae veniam. Quas repellat architecto consequuntur.
        </p>
    </article>
</section>