<section class="w-full xl:w-6/12">
  <h2 class="text-2xl font-bold mb-1">Sobre mi</h2>
  <button type="button" aria-label="Duarte Ezequiel" class="h-[474px] bg-zinc-800 bg-gradient-to-t from-slate-950 flex">
    <div class="self-end px-4 pb-8 tracking-wide text-left antialiased font-medium">
      Soy un programador web argentino especializado en frontend. Apasionado por el diseño y la usabilidad, estoy abierto a adaptarme a cualquier rol en el mercado laboral, buscando constantemente nuevos desafíos y aprendizajes.
    </div>
  </button>
</section>