<h2 class="text-2xl font-bold mt-16">Sobre mi</h2>
<div w->
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam molestiae eius debitis dolores, quasi totam in minus exercitationem doloremque, perferendis ducimus corporis tenetur nihil? Non similique hic magnam est ducimus.</p>
</div>