<section class="w-full xl:w-6/12">
  <h2 class="text-2xl font-bold mb-1">About me</h2>
  <button type="button" aria-label="Duarte Ezequiel" class="h-[474px] bg-zinc-800 bg-gradient-to-t from-slate-950 flex">
    <p class="self-end px-4 pb-8 tracking-wide text-left antialiased font-medium">
      I am a frontend web developer, specializing in design and usability, while being open to adapting to any role in the job market, constantly seeking new challenges and learning experiences.
    </p>
  </button>
</section>