---
import Card from "./card.astro";
---
<section class="z-10 text-white relative px-6 pt-16 bg-gradient-to-b from-gray-700 from 0% to-zinc-900 to-30%">
  <div class="flex">
    <h2 class="text-2xl font-bold">Projects</h2>
  </div>
  <div class="flex flex-wrap mt-6 gap-4 top-0">
    <Card>
      <img slot="logo" src="por-que-tener-una-pagina-web-opengraph.png" class="h-full">
      <p slot="title" class="font-bold block truncate">Proyecto 01.</p>
      <p slot="description" class="text-gray-400 text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem cumque mollitia sequi vero perferendis blanditiis nemo</p>
    </Card>
    <Card>
      <img slot="logo" src="por-que-tener-una-pagina-web-opengraph.png" class="h-full">
      <p slot="title" class="font-bold block truncate">Proyecto 02.</p>
      <p slot="description" class="text-gray-400 text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem cumque mollitia sequi vero perferendis blanditiis nemo</p>
    </Card>
    <Card>
      <img slot="logo" src="por-que-tener-una-pagina-web-opengraph.png" class="h-full">
      <p slot="title" class="font-bold block truncate">Proyecto 03.</p>
      <p slot="description" class="text-gray-400 text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem cumque mollitia sequi vero perferendis blanditiis nemo</p>
    </Card>
  </div>
</section>
<div class="text-white relative px-6 mt-16">
  <div class="flex">
    <h2 class="text-2xl font-bold">Proficient in</h2>
  </div>
  <div class="flex flex-wrap mt-6 gap-4">
    <Card>
      <svg
        width="100%"
        height="100%"
        id="Layer_2"
        style="enable-background:new 0 0 600 600;"
        version="1.1"
        viewBox="0 0 600 600"
        xml:space="preserve"
        slot="logo"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        ><style type="text/css">
          .st0 {
            fill: #00d8ff;
          }
        </style><circle class="st0" cx="299.5" cy="299.6" r="50.2"></circle><g
          ><path
            class="st0"
            d="M299.5,414.6c-70.5,0-132.1-8.3-178.2-24.1c-29.9-10.2-55.3-23.8-73.4-39.3c-19.2-16.4-29.4-34.3-29.4-51.6   c0-33.2,36.4-65.7,97.5-86.9c50-17.4,115.2-27.1,183.4-27.1c67,0,131.3,9.4,181,26.6c29.1,10,53.6,23,71,37.4   c18.9,15.8,28.9,33.1,28.9,50c0,34.5-40.7,69.4-106.3,91.1C427.6,406.1,365.6,414.6,299.5,414.6z M299.5,209.6   c-64.7,0-128.7,9.4-175.5,25.7c-56.2,19.6-81.4,46.4-81.4,64.3c0,18.6,27.1,47.9,86.5,68.2c43.6,14.9,102.6,22.8,170.4,22.8   c63.6,0,122.9-8,167-22.7c61.7-20.5,89.9-49.8,89.9-68.3c0-9.5-7.2-20.7-20.3-31.6c-15.1-12.6-37.1-24.1-63.4-33.2   C425.4,218.6,363.9,209.6,299.5,209.6z"
          ></path></g
        ><g
          ><path
            class="st0"
            d="M185.6,549.8c-10.2,0-19.2-2.2-26.8-6.6c-28.7-16.6-38.7-64.4-26.6-127.9c9.9-52.1,34.1-113.3,68.2-172.4   c33.5-58,73.7-109,113.4-143.5c23.2-20.2,46.7-35,67.9-42.8c23.1-8.5,43.1-8.5,57.7-0.1c29.9,17.2,39.8,70,25.8,137.6   c-9.9,48-33.5,105.9-66.5,163.2c-35.2,61-73.2,110.2-109.9,142.3c-23.8,20.8-48.3,36-70.7,43.9   C206.4,547.7,195.4,549.8,185.6,549.8z M210.7,248.9l10.4,6c-32.3,56-56.2,116.1-65.4,164.9c-11.1,58.5-0.4,93.7,15,102.6   c3.8,2.2,8.8,3.4,14.9,3.4c19.9,0,51.2-12.6,87.4-44.2c34.7-30.3,71-77.5,104.9-136.2c31.8-55.1,54.4-110.5,63.8-156   c13.1-63.7,1.8-102.7-14.3-112c-8.2-4.7-21.5-4.1-37.5,1.8c-18.5,6.8-39.4,20.1-60.4,38.4c-37.7,32.8-76.2,81.6-108.4,137.4   L210.7,248.9z"
          ></path></g
        ><g
          ><path
            class="st0"
            d="M413.4,550.1c-27.2,0-61.7-16.4-97.7-47.4c-40.2-34.6-81.1-86.1-115.3-145.2v0c-33.6-58-57.6-118.3-67.7-170   c-5.9-30.2-7-57.9-3.2-80.2c4.2-24.3,14.1-41.6,28.8-50.1c29.8-17.3,80.5,0.5,132.1,46.4c36.6,32.5,75,81.9,108.1,139.1   c35.3,61,59,118.5,68.4,166.3c6.1,31,7.1,59.8,2.8,83.2c-4.6,24.9-15,42.6-30,51.3C432.2,547.9,423.3,550.1,413.4,550.1z    M221.2,345.5c32.4,56,72.6,106.7,110.2,139c45.1,38.8,80.9,47.2,96.4,38.2c16.1-9.3,27.9-47.4,15.7-109   c-9-45.2-31.7-100.2-65.7-158.9c-31.9-55.1-68.6-102.4-103.3-133.2C225.9,78.4,186.5,68.7,170.4,78c-8.2,4.7-14.3,16.6-17.2,33.4   c-3.3,19.4-2.3,44.2,3.1,71.5C165.9,232,188.9,289.7,221.2,345.5L221.2,345.5z"
          ></path></g
        ></svg
      >
      <p slot="title" class="font-bold block truncate">React</p>
      <p slot="description" class="text-gray-400 text-xs">Library</p>
    </Card>
    <Card>
      <svg
        width="100%"
        height="100%"
        slot="logo"
        viewBox="0 0 64 79"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_831_2294)">
          <path
            d="M19.9924 65.9282C16.1165 62.432 14.9851 55.0859 16.5999 49.7638C19.3998 53.1193 23.2793 54.1822 27.2977 54.7822C33.5013 55.7081 39.5937 55.3618 45.3565 52.5637C46.0158 52.2434 46.625 51.8174 47.3454 51.386C47.8861 52.9341 48.0268 54.497 47.838 56.0877C47.3787 59.9617 45.4251 62.9542 42.3177 65.2227C41.0752 66.13 39.7604 66.9411 38.4771 67.7967C34.5346 70.4262 33.4679 73.5095 34.9494 77.9946C34.9846 78.1038 35.0161 78.2131 35.0957 78.4797C33.0828 77.5909 31.6124 76.2965 30.4921 74.5946C29.3088 72.7984 28.7458 70.8114 28.7162 68.6615C28.7014 67.6152 28.7014 66.5597 28.5588 65.5282C28.2107 63.0135 27.0144 61.8876 24.7608 61.8227C22.4479 61.7561 20.6183 63.1672 20.1331 65.3893C20.0961 65.5597 20.0424 65.7282 19.9887 65.9263L19.9924 65.9282Z"
            fill="url(#paint0_linear_831_2294)"></path>
          <path
            d="M0.5 51.3932C0.5 51.3932 11.0979 46.2433 21.7254 46.2433L29.7382 21.5069C30.0381 20.3106 30.9141 19.4977 31.9029 19.4977C32.8918 19.4977 33.7677 20.3106 34.0677 21.5069L42.0804 46.2433C54.6672 46.2433 63.3058 51.3932 63.3058 51.3932C63.3058 51.3932 45.3044 2.47586 45.2692 2.37772C44.7526 0.931458 43.8804 0 42.7045 0H21.1032C19.9273 0 19.0903 0.931458 18.5384 2.37772C18.4995 2.47401 0.5 51.3932 0.5 51.3932Z"
            fill="white"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_831_2294"
            x1="15.8877"
            y1="78.4797"
            x2="53.1292"
            y2="60.6489"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#D83333"></stop>
            <stop offset="1" stop-color="#F041FF"></stop>
          </linearGradient>
          <clipPath id="clip0_831_2294">
            <rect width="64" height="79" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <p slot="title" class="font-bold block truncate">Astro</p>
      <p slot="description" class="text-gray-400 text-xs">Framework</p>
    </Card>
    <Card>
      <svg xmlns="http://www.w3.org/2000/svg" slot="logo" viewBox="0 0 630 630">
        <rect width="630" height="630" fill="#f7df1e"></rect>
        <path
          d="m423.2 492.19c12.69 20.72 29.2 35.95 58.4 35.95 24.53 0 40.2-12.26 40.2-29.2 0-20.3-16.1-27.49-43.1-39.3l-14.8-6.35c-42.72-18.2-71.1-41-71.1-89.2 0-44.4 33.83-78.2 86.7-78.2 37.64 0 64.7 13.1 84.2 47.4l-46.1 29.6c-10.15-18.2-21.1-25.37-38.1-25.37-17.34 0-28.33 11-28.33 25.37 0 17.76 11 24.95 36.4 35.95l14.8 6.34c50.3 21.57 78.7 43.56 78.7 93 0 53.3-41.87 82.5-98.1 82.5-54.98 0-90.5-26.2-107.88-60.54zm-209.13 5.13c9.3 16.5 17.76 30.45 38.1 30.45 19.45 0 31.72-7.61 31.72-37.2v-201.3h59.2v202.1c0 61.3-35.94 89.2-88.4 89.2-47.4 0-74.85-24.53-88.81-54.075z"
        ></path>
      </svg>
      <p slot="title" class="font-bold block truncate">JavaScript</p>
      <p slot="description" class="text-gray-400 text-xs">
        Lenguaje de programación
      </p>
    </Card>
    <Card>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        slot="logo"
        width="100%"
        height="100%"
        viewBox="0 0 452 520"
      >
        <path fill="#0c73b8" d="M41 460L0 0h451l-41 460-185 52"></path>
        <path fill="#30a9dc" d="M226 472l149-41 35-394H226"></path>
        <path
          fill="#ecedee"
          d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"
        ></path>
        <path
          fill="#fff"
          d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"
        ></path>
      </svg>
      <p slot="title" class="font-bold block truncate">CSS</p>
      <p slot="description" class="text-gray-400 text-xs">
        Lenguaje de programación
      </p>
    </Card>
    <Card>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        slot="logo"
        width="100%"
        height="100%"
        viewBox="0 0 452 520"
      >
        <path fill="#e34f26" d="M41 460L0 0h451l-41 460-185 52"></path>
        <path fill="#ef652a" d="M226 472l149-41 35-394H226"></path>
        <path
          fill="#ecedee"
          d="M226 208h-75l-5-58h80V94H84l15 171h127zm0 147l-64-17-4-45h-56l7 89 117 32z"
        ></path>
        <path
          fill="#fff"
          d="M226 265h69l-7 73-62 17v59l115-32 16-174H226zm0-171v56h136l5-56z"
        ></path>
        <p slot="title" class="font-bold block truncate">HTML</p>
        <p slot="description" class="text-gray-400 text-xs">
          Lenguaje de programación
        </p>
      </svg>
    </Card>
    <Card>
      <svg
        slot="logo"
        width="100%"
        height="100%"
        viewBox="0 0 256 282"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMinYMin meet"
        ><g fill="#8CC84B"
          ><path
            d="M116.504 3.58c6.962-3.985 16.03-4.003 22.986 0 34.995 19.774 70.001 39.517 104.99 59.303 6.581 3.707 10.983 11.031 10.916 18.614v118.968c.049 7.897-4.788 15.396-11.731 19.019-34.88 19.665-69.742 39.354-104.616 59.019-7.106 4.063-16.356 3.75-23.24-.646-10.457-6.062-20.932-12.094-31.39-18.15-2.137-1.274-4.546-2.288-6.055-4.36 1.334-1.798 3.719-2.022 5.657-2.807 4.365-1.388 8.374-3.616 12.384-5.778 1.014-.694 2.252-.428 3.224.193 8.942 5.127 17.805 10.403 26.777 15.481 1.914 1.105 3.852-.362 5.488-1.274 34.228-19.345 68.498-38.617 102.72-57.968 1.268-.61 1.969-1.956 1.866-3.345.024-39.245.006-78.497.012-117.742.145-1.576-.767-3.025-2.192-3.67-34.759-19.575-69.5-39.18-104.253-58.76a3.621 3.621 0 0 0-4.094-.006C91.2 39.257 56.465 58.88 21.712 78.454c-1.42.646-2.373 2.071-2.204 3.653.006 39.245 0 78.497 0 117.748a3.329 3.329 0 0 0 1.89 3.303c9.274 5.259 18.56 10.481 27.84 15.722 5.228 2.814 11.647 4.486 17.407 2.33 5.083-1.823 8.646-7.01 8.549-12.407.048-39.016-.024-78.038.036-117.048-.127-1.732 1.516-3.163 3.2-3 4.456-.03 8.918-.06 13.374.012 1.86-.042 3.14 1.823 2.91 3.568-.018 39.263.048 78.527-.03 117.79.012 10.464-4.287 21.85-13.966 26.97-11.924 6.177-26.662 4.867-38.442-1.056-10.198-5.09-19.93-11.097-29.947-16.55C5.368 215.886.555 208.357.604 200.466V81.497c-.073-7.74 4.504-15.197 11.29-18.85C46.768 42.966 81.636 23.27 116.504 3.58z"
          ></path><path
            d="M146.928 85.99c15.21-.979 31.493-.58 45.18 6.913 10.597 5.742 16.472 17.793 16.659 29.566-.296 1.588-1.956 2.464-3.472 2.355-4.413-.006-8.827.06-13.24-.03-1.872.072-2.96-1.654-3.195-3.309-1.268-5.633-4.34-11.212-9.642-13.929-8.139-4.075-17.576-3.87-26.451-3.785-6.479.344-13.446.905-18.935 4.715-4.214 2.886-5.494 8.712-3.99 13.404 1.418 3.369 5.307 4.456 8.489 5.458 18.33 4.794 37.754 4.317 55.734 10.626 7.444 2.572 14.726 7.572 17.274 15.366 3.333 10.446 1.872 22.932-5.56 31.318-6.027 6.901-14.805 10.657-23.56 12.697-11.647 2.597-23.734 2.663-35.562 1.51-11.122-1.268-22.696-4.19-31.282-11.768-7.342-6.375-10.928-16.308-10.572-25.895.085-1.619 1.697-2.748 3.248-2.615 4.444-.036 8.888-.048 13.332.006 1.775-.127 3.091 1.407 3.182 3.08.82 5.367 2.837 11 7.517 14.182 9.032 5.827 20.365 5.428 30.707 5.591 8.568-.38 18.186-.495 25.178-6.158 3.689-3.23 4.782-8.634 3.785-13.283-1.08-3.925-5.186-5.754-8.712-6.95-18.095-5.724-37.736-3.647-55.656-10.12-7.275-2.571-14.31-7.432-17.105-14.906-3.9-10.578-2.113-23.662 6.098-31.765 8.006-8.06 19.563-11.164 30.551-12.275z"
          ></path></g
        ></svg
      >
      <p slot="title" class="font-bold block truncate">NodeJS</p>
      <p slot="description" class="text-gray-400 text-xs">Programa</p>
    </Card>
    <Card>
      <svg
        slot="logo"
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>

        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>

        <g id="SVGRepo_iconCarrier">
          <path
            fill="#fff"
            d="M20.649 21.349c0.064 0.004 0.133 0.012 0.202 0.012 0.977 0.001 1.955-0.005 2.932 0.005 0.214 0.002 0.278-0.071 0.267-0.276-0.014-0.267-0.003-0.535-0.003-0.865 1.109 0.816 2.181 1.604 3.281 2.414-1.092 0.804-2.164 1.593-3.281 2.416 0-0.311 0-0.568-0-0.825-0-0.332-0-0.333-0.323-0.333-6.247 0-12.495 0-18.742 0-0.302 0-0.302-0-0.302-0.304 0-0.659 0.009-1.318-0.005-1.976-0.005-0.214 0.064-0.262 0.269-0.261 3.359 0.006 6.718 0.011 10.077 0.002 1.722-0.005 3.081-0.718 3.98-2.202 1.622-2.68-0.069-6.19-3.177-6.642-2.4-0.349-4.631 1.262-5.038 3.703-0.043 0.254-0.046 0.515-0.071 0.821 0.393-0.053 0.749-0.102 1.152-0.156-0.631 1.22-1.24 2.398-1.858 3.592-0.947-0.976-1.88-1.937-2.792-2.877 0.229-0.038 0.533-0.082 0.834-0.145 0.057-0.012 0.141-0.104 0.139-0.157-0.017-0.639 0.027-1.271 0.152-1.898 0.004-0.019-0.005-0.041-0.011-0.078-0.61-0.104-1.176-0.324-1.689-0.678-1.254-0.868-1.91-2.483-1.602-3.955 0.335-1.604 1.545-2.803 3.109-3.099 1.014-0.191 1.954-0.009 2.827 0.527 0.154 0.095 0.248 0.109 0.349-0.056 0.059-0.097 0.148-0.175 0.25-0.293 0.127 0.512 0.246 0.991 0.364 1.47 0.040 0.161 0.071 0.325 0.118 0.484 0.051 0.172-0.001 0.249-0.183 0.237-0.526-0.036-1.053-0.068-1.579-0.103-0.13-0.009-0.259-0.023-0.426-0.039 0.13-0.164 0.248-0.311 0.377-0.472-0.284-0.216-0.597-0.324-0.923-0.377-1.576-0.258-2.965 0.953-2.933 2.548 0.024 1.224 1.056 2.318 2.275 2.422 0.158 0.013 0.213-0.067 0.274-0.185 0.864-1.658 2.165-2.83 3.935-3.44 4.095-1.412 8.37 1.118 9.159 5.259 0.389 2.039-0.054 3.901-1.291 5.57-0.034 0.046-0.065 0.095-0.095 0.144-0.006 0.009 0.002 0.027 0.007 0.065z"
          ></path>
        </g>
        <p slot="title" class="font-bold block truncate">Scrum</p>
        <p slot="description" class="text-gray-400 text-xs">Marco de trabajo</p>
      </svg>
    </Card>
    <Card>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        slot="logo"
        width="100%"
        height="100%"
        viewBox="0 0 92 92"
        ><defs
          ><clipPath id="a"><path d="M0 .113h91.887V92H0Zm0 0"></path></clipPath
          ></defs
        ><g clip-path="url(#a)"
          ><path
            style="stroke:none;fill-rule:nonzero;fill:#f03c2e;fill-opacity:1"
            d="M90.156 41.965 50.036 1.848a5.918 5.918 0 0 0-8.372 0l-8.328 8.332 10.566 10.566a7.03 7.03 0 0 1 7.23 1.684 7.034 7.034 0 0 1 1.669 7.277l10.187 10.184a7.028 7.028 0 0 1 7.278 1.672 7.04 7.04 0 0 1 0 9.957 7.05 7.05 0 0 1-9.965 0 7.044 7.044 0 0 1-1.528-7.66l-9.5-9.497V59.36a7.04 7.04 0 0 1 1.86 11.29 7.04 7.04 0 0 1-9.957 0 7.04 7.04 0 0 1 0-9.958 7.06 7.06 0 0 1 2.304-1.539V33.926a7.049 7.049 0 0 1-3.82-9.234L29.242 14.272 1.73 41.777a5.925 5.925 0 0 0 0 8.371L41.852 90.27a5.925 5.925 0 0 0 8.37 0l39.934-39.934a5.925 5.925 0 0 0 0-8.371"
          ></path></g
        ></svg
      >
      <p slot="title" class="font-bold block truncate">Git</p>
      <p slot="description" class="text-gray-400 text-xs">Software</p>
    </Card>
    <Card>
      <svg
        fill="#ffffff"
        xmlns="http://www.w3.org/2000/svg"+
        slot="logo"
        width="85%"
        height="85%"
        viewBox="0 0 52 52"
        enable-background="new 0 0 52 52"
        xml:space="preserve"
        stroke="#ffffff"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M32,17.5c0-0.8-0.7-1.5-1.5-1.5h-9c-0.8,0-1.5,0.7-1.5,1.5v27c0,0.8,0.7,1.5,1.5,1.5h9 c0.8,0,1.5-0.7,1.5-1.5V17.5z"
          ></path>
          <path
            d="M14,17.5c0-0.8-0.7-1.5-1.5-1.5h-9C2.7,16,2,16.7,2,17.5v31C2,49.3,2.7,50,3.5,50h9c0.8,0,1.5-0.7,1.5-1.5 V17.5z"
          ></path>
          <path
            d="M50,17.5c0-0.8-0.7-1.5-1.5-1.5h-9c-0.8,0-1.5,0.7-1.5,1.5v23c0,0.8,0.7,1.5,1.5,1.5h9 c0.8,0,1.5-0.7,1.5-1.5V17.5z"
          ></path>
          <path
            d="M50,3.5C50,2.7,49.3,2,48.5,2h-45C2.7,2,2,2.7,2,3.5v5C2,9.3,2.7,10,3.5,10h45c0.8,0,1.5-0.7,1.5-1.5V3.5z"
          ></path>
        </g></svg>
        <p slot="title" class="font-bold block truncate">Kanban</p>
        <p slot="description" class="text-gray-400 text-xs">Marco de trabajo</p>
    </Card>
  </div>
</div>
