<div class="w-4/12">
  <h2 class="text-2xl font-bold mb-7">Contactame</h2>
  <form>
    <div class="mb-4">
      <label class="block text-white text-sm font-bold" for="username">
        Nombre
      </label>
      <input
        class="shadow appearance-none border rounded w-5/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username"
        type="text"
        placeholder="Nombre"
      />
    </div>
    <div class="mb-6">
      <label class="block text-white text-sm font-bold" for="email">
        Email
      </label>
      <input
        class="shadow appearance-none border rounded w-5/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-6">
      <label class="block text-white text-sm font-bold" for="email">
        Mensaje
      </label>
      <textarea
        class="shadow appearance-none border rounded h-52 w-5/6 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="text"
        placeholder="Mensaje"
      />
    </div>
    <div class="mb-6">
      <input class="shadow appearance-none border rounded-full h-9 w-32 place-self-center" type="submit" value="Submit">
    </div>
  </form>
</div>
