---
import CardsContainer from "./cards-container.astro";
---
<div class="rounded-lg bg-zinc-900 flex-1 mx-auto overflow-y-auto">
  <div class="bg-gray-500 w-full h-80 px-6 pb-10">
    <div class="pt-40">
      <span class="text-xl">Software Developer</span>
      <h1 class="text-7xl">Duarte Ezequiel</h1>
    </div>
  </div>
  <CardsContainer/>
</div>