---
import History from "../components/History.astro";
---

<header>
  <nav class="w-[350px] flex-col hidden lg:flex lg:h-full">
    <div class="flex flex-col flex-1 gap-2 ">
      <div class="bg-zinc-900 rounded-lg ">
        <ul>
          <li>
            <a
              class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
            >
              Home
            </a>
          </li>
          <li>
            <a
              class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
            >
              Browse
            </a>
          </li>
        </ul>
      </div>
      <div class="bg-zinc-900 rounded-lg flex-1">
        <ul>
          <li>
            <a
              class="flex gap-4 text-zinc-400 hover:text-zinc-100 py-3.5 px-5 font-semibold transition-all duration-300"
            >
              Recent History
            </a>
          </li>
        </ul>
        <ul class="pl-2">
          <History />
        </ul>
      </div>
    </div>
  </nav>
  <nav class="text-white lg:hidden">
    <ul class="navbar">
      <!-- logo -->
      <input type="checkbox" id="check"/>
      <!-- checkbox -->
      <span id="menu" class="flex">
        <!-- menu -->
        <li><a>los pibardos</a></li>
        <li><a>los pibardos</a></li>
        <li><a>los pibardos</a></li>
        <li><a>los pibardos</a></li>
        <li><a>los pibardos</a></li>
        <label for="check" id="close-menu" class="absolute cursor-pointer text-2xl top-5 left-5"><a>A</a></label>
        <!-- close menu X -->
      </span>
      <label for="check" id="open-menu" class="absolute cursor-pointer text-2xl top-5 left-5"><a>B</a></label>
      <!-- open menu ||| -->
    </ul>
  </nav>
</header>
<style>
  #check {display: none}
  @media(max-width: 1024px){
    #menu{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      width: 480px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 100;
      background-color: #000;
      transition: all 0.2s ease-in-out;
    }
    #menu li {margin-top: 40px;}
    #menu li a {padding: 10px;}
    #open-menu , #close-menu {display: block;}
    #check:checked ~ #menu {left: 0;}
  }
</style>